---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Puzzle 01">
    <span>The first challenge, or in this case, the first cuestion: <br> How many years have we been together as couple?</span><br>
    <input type="radio" id="r-01-1" name="p-01" class="hidden">
    <label for="r-01-1" class="font-2xl bg-[var(--light)] p-3 rounded-md">5</label><br>
    <input type="radio" id="r-01-1" name="p-01" class="hidden">
    <label for="r-01-2" class="font-2xl bg-[var(--light)] p-3 rounded-md">6</label><br>
    <input type="radio" id="r-01-1" name="p-01" class="hidden">
    <label for="r-01-3" class="font-2xl bg-[var(--light)] p-3 rounded-md">7</label><br>
    <input type="radio" id="r-01-1" name="p-01" class="hidden">
    <label for="r-01-4" class="font-2xl bg-[var(--light)] p-3 rounded-md">8</label><br>
</Layout>