---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[var(--bg)] p-8">
		<slot />
	</body>
</html>
<style>
	html {
		--bg: rgb(70, 95, 63);
		--main: rgb(119, 179, 119);
		--light: whitesmoke;
		--dark: rgb(32, 46, 32);
	}
</style>